/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*my own styling*/

@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Pacifico&display=swap');


body, html{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
    height:100%;
    background-image: url('./img/painted-grey-background-with-metal-texture.jpg');
    background-size: cover;
}

h1{
    color: black;
    font-size: 70px;
    font-weight: 500;
    text-align: center;
    font-family: 'Black Ops One', cursive;
}

.main{
    display:flex;
    justify-content:flex-start;
    align-items:center;
    width: 100%;
    height: 80%;
}

.messageBoard{
    text-align: center;
    font-size: 40px;
    font-weight: 300;
    height:40px;
    width: 400px;
    background-color: whitesmoke;
    border: 2px;
    border-color: black;
    border-radius: 5px;
    border-style: groove;
    margin-top: 30px;
    overflow: hidden;
}

.fleetDiv{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin-left: 60px;
    margin-top: 60px;
    width: 300px;
    height: 520px;
}

.rotateImg{
    width: 20px !important;
    height:auto !important;
    padding-right: 20px;
}

.battleship img{
    width: 180px;
    height:43px;
    margin-bottom: 37px;
    transform: rotate(0deg);
}

.carrier img{
    width: 240px;
    height:43px;
    margin-bottom: 37px;
    transform: rotate(0deg);
}

.destroyer img{
    width: 130px;
    height:43px;
    margin-bottom: 37px;
    transform: rotate(0deg);
}

.submarine img{
    width: 130px;
    height:43px;
    margin-bottom: 37px;
    transform: rotate(0deg);
}

.patrolBoat img{
    width: 80px;
    height:43px;
    margin-bottom: 37px;
    transform: rotate(0deg);
}

.buttonsDiv{
    display: flex;
    margin-top: 40px;
}

.startBtn, .resetBtn{
    padding: 5px 15px;
    border-style: groove 3px;
    border-radius: 5px;
    font-weight: 500;
    font-size: 20px;
    margin: 10px;
    font-family: 'Black Ops One', cursive;
}

.ownArea, .opponentArea{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 60px;
}

.opponentArea{
    margin-left: 250px;
}

h2{
    color: black;
    font-size: 25px;
    font-weight: 100;
    font-family: 'Black Ops One', cursive;
    padding:20px;
}

.ownGameboard, .opponentGameboard{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    gap: 2px;
    background-color: rgba(36, 137, 204, 0.3);
    width: 500px;
    height:500px;
}

.cell{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: transparent;
    border: 2px black;
    border-style: double;
    border-radius: 5px;
    width:43px;
    height:43px}

.cell img{
    margin: 0px;
    margin-bottom: 0px;
}

.hit{
    background-color: rgb(226, 15, 15);
}

.miss{
    background-color: rgb(30, 42, 97);
}

.ship{
    background-color: rgb(17, 14, 14);
}



